<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Bits & Beyond Electronics-->
    <meta charset="utf-8">
    <!-- TemplateBeginEditable name="doctitle" -->
    <title>Bits & Beyond Electronics | Fast, Honest, and Affordable</title>
    <!-- TemplateEndEditable -->
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
<link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu|PT+Sans&amp;subset=latin">


<script src="../jquery.js"></script>
<script src="../script.js"></script>
<script src="../script.responsive.js"></script>
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>
<body>
<div id="art-main">
    <div class="art-sheet clearfix">
<header class="art-header">


    <div class="art-shapes">

            </div>




                <div id="art-flash-area">
                    <div id="art-flash-container">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="581" id="art-flash-object">
                        <param name="movie" value="../images/flash.swf">
                        <param name="quality" value="best">
                    	<param name="scale" value="exactfit">
                    	<param name="wmode" value="transparent">
                    	<param name="flashvars" value="color1=0xFFFFFF&amp;alpha1=1&amp;framerate1=24&amp;loop=false&amp;wmode=transparent">
                        <param name="swfliveconnect" value="true">
                        <param name="loop" value="false">
                        <!--[if !IE]>-->
                        <object type="application/x-shockwave-flash" data="../images/flash.swf" width="800" height="581">
                            <param name="quality" value="best">
                    	    <param name="scale" value="exactfit">
                            <param name="wmode" value="transparent">
                                                    	    <param name="flashvars" value="color1=0xFFFFFF&amp;alpha1=1&amp;framerate1=24&amp;loop=false&amp;wmode=transparent">
                            <param name="swfliveconnect" value="true">
                            <param name="loop" value="false">
                        <!--<![endif]-->
                          	<div class="art-flash-alt"><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"></a></div>
                        <!--[if !IE]>-->
                        </object>
                        <!--<![endif]-->
                    </object>
                    </div>
                    </div>
                    
</header>
<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="../home.html" class="active">Home</a></li><li><a href="../services.html">Services</a></li><li><a href="../about-us.html">About Us</a></li><li><a href="../testimonials.html">Testimonials</a></li><li><a href="../contact-us.html">Contact Us</a></li></ul> 
    </nav>
<div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%" >
        <p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 33%" >
        <h3 style="text-align: center;">In Your Home</h3><p><span style="font-weight: bold;"><span style="color: rgb(75, 88, 93); font-family: 'PT Sans', sans-serif; font-size: 14px; line-height: 21px; font-weight: normal; letter-spacing: normal;"><br>We charge an hourly fee when doing any in-home computer consulting. We do everything we can to fix the problem to your satisfaction or you don't pay!</span><br></span></p><p><a href="#"></a></p>
    </div><div class="art-layout-cell" style="width: 34%" >
        <h3 style="text-align: center;">At Your Office</h3><div class="image-caption-wrapper"><p style="text-align: left;"><span style="color: rgb(75, 88, 93); font-family: 'PT Sans', sans-serif; font-size: 14px; line-height: 21px; letter-spacing: normal;"><br></span></p><p style="text-align: left;"><span style="color: rgb(75, 88, 93); font-family: 'PT Sans', sans-serif; font-size: 14px; line-height: 21px; letter-spacing: normal;">When it's not practical to hire a full time IT person for your small or medium sized business, Jiffy-PC can help keep your technology running smoothly.</span><br></p></div><p><a href="#"></a></p>
    </div><div class="art-layout-cell" style="width: 33%" >
        <h3 style="text-align: center;">On the Web</h3><div class="image-caption-wrapper" style="width: 100%"><img src="../images/1dd72.jpg" style="width: 100%; max-width: 506px; " alt="an image" class="art-lightbox"><p>Image by Flickr/</p></div><p>Nibh eros quis tristique sit ut vestibulum mi duis interdum cursus praesent iaculis orci vitae maecenas leo. Nisi condimentum nunc erat non.</p><p><a href="#">Read more</a></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%" >
        <p><br></p>
    </div>
    </div>
</div>
</div>


</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<p>Copyright © 2013. All Rights Reserved.</p>
<p><a href="#">Bits & Beyond Electronic Services</a></p>
    <p class="art-page-footer">    
    </p>
  </div>
</footer>

</div>


</body></html>